/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.row{
    margin-bottom: .5rem;
}
body{background: #e9eaed; /* FB bgcolor*/}

#logo{
    float:left;
    width: 123px;
    height: 38px;
    background: url('../images/logo.png') no-repeat;
}
nav{
    float: right;
}
nav ul{
    list-style: none;   
}
nav ul li{
    padding:10px 10px;
    display:inline;
    text-transform: uppercase;
}

nav ul li:hover{ background: #f9f9f9;}
nav ul li a{ text-decoration: none;}
.banner-slogan{
    background-color: #20ADEF;
    color:#fff;
    font-size:300%;
    line-height: 100%; 
    text-align:center;
    padding: 8px;
}
.active {
    border-bottom: 4px solid #9197a3;
}
.form-search{margin:0px;}

.total{
    color:#9197a3;
    text-align: left;
    font-size: 20px;
}
.msg{
    color: #9197a3;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    text-align: center;
}
.msg a{
	text-decoration: none;
	font-size: 15px;
}

/* for requested words list*/
.list li{
    cursor: pointer;
}
.list li:hover{
    color: #20ADEF;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/