<!DOCTYPE HTML>
<html ng-app="pagination">
<head>
<script src="../bower_components/angularjs/angular.min.js"></script>
    <style>
        .pgn li{
            display:inline-block;
            margin-right: 4px;
            padding:10px;
            background-color: #f7f7f7;
            cursor: pointer;
        }
         .pgn li:hover{
             background-color:#f26535;
         }
        .active{
            background-color:#f26535 !important;
        }

    </style>
</head>
<body  ng-controller="PaginationCtrl">
    <!---
    http://www.verynicesites.com/page/1
    http://jsfiddle.net/2ZzZB/56/
    -->

    <div>
        <ul>
            <li ng-repeat="item in data | startFrom:currentPage*pageSize | limitTo:pageSize">
                {{item}}
            </li>
        </ul>
    
    <ul class="pgn">
        <li ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">&larr;</li>
        <li ng-repeat="n in numberOfPages()" ng-click="setPageNumber(n)" ng-class="{active:n==currentPage}">{{n}}</li>
        <li ng-hide="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">&rarr;</li>
    </ul>
    {{currentPage}}
    
    </div>
    <script>
    var app = angular.module('pagination',[]);
        app.controller('PaginationCtrl', function($scope){
            $scope.currentPage = 0;
            $scope.pageSize = 10;
            $scope.data = [];
            $scope.numberOfPages=function(){
                var pages =  Math.ceil($scope.data.length/$scope.pageSize);
                console.log(pages);
                var pageNo=[];
                for(i=0;i<pages;i++){
                    pageNo.push(i);
                }
                return pageNo;
            }
            
            
            for (var i=0; i<150; i++) {
                $scope.data.push("Item "+i);
            }
            
            $scope.setPageNumber=function(p){
                $scope.currentPage=p;
                console.log($scope.currentPage);
            }
            
        });
        
        
        //We already have a limitTo filter built-in to angular,
        //let's make a startFrom filter
        app.filter('startFrom', function() {
            return function(input, start) {
                start = +start; //parse to int
                return input.slice(start);
            }
        });
    </script>
</body>
</html>