<div>
	<h5>Requested words</h5>
	<button ng-click="deleteAll()">Delete All</button>
	<ol>
		<li ng-repeat="r in requests" remove-on-click><button ng-click="remove(r.id,1)">X</button> {{r.nepali}}</li>
	</ol>
</div>