<div>
	<h5>Search Hits</h5>
	<button ng-click="deleteAll()">Delete All</button>
	<ol>
		<li ng-repeat="s in searchHits" remove-on-click><button ng-click="remove(s.id,0)">X</button> {{s.searched_word}} ǀǀ {{s.country}} ǀǀ {{s.city}} ǀǀ {{s.searched_date}} ǀǀ {{s.searched_time}}</li>
	</ol>
</div>