<div class ="twelve columns" style="background:#fff;padding:5px">
	<p>This website is a platform to create a Chhantyal kham dictionary. Imagine that, if you have to translate the whole known Nepali words to Chhantyal kham alone, it may take you years to complete. However, if you have a platform to work together , it goes faster. You can be a part of this project by helping to translate the requested words or by requesting the words to be translated. Thank You!
	<p>- You can translate the requested words by logging in (using Facebook account).</p>
	<!--
	<p>- Once you are logged in, you will be listed as a 'member'. The website shows the number of translation done by each contributor.</p>
	<p>- You will be listed as "Top Contributors" if you have translated any of nepali words.</p>
	<p>- The member who has the highest total translation words will be listed in the first place as a "Top Contributors" and the rest by descending order.</p>
	<p>- As a 'member', you can 'edit' and 'delete' your translation.</p>
	<p>- You don't need to login to request or search for translation.</p>
	-->
</div>
