
<form name="unicode" ng-submit="getTranslation()" class="form-search">
    <div class="nine columns">
        <input type="text" placeholder="type in nepali..." style="height:26px;width:100%" name="nepbox" onkeyup="conversion();" id="nepali" required/>
    </div>
    <div class="three columns">
        <button type="submit" class="button" style="width:100%" ng-submit="getTranslation()">translate</button>
    </div>
</form>

<div class="twelve columns msg" ng-if="response.status==1">
    {{response.msg.nepali}} => {{response.msg.kham}} (<a href="{{response.msg.profile_link}}" target="_BLANK">{{response.msg.name}}</a>)
</div>
<div class="twelve columns msg" ng-if="response.status==0">
    "{{response.msg}}" has not been translated yet. <a href="#/" ng-click="addRequest(response.msg)">click to request</a>
</div>

<div class="twelve columns" style="background-color:#ffffff">
    <table class="u-full-width" style="margin:5px">
        <caption class="total">Total: {{total.msg.total}}</caption>
        <thead>
            <tr>
                <th>Nepali</th>
                <th>Kham</th>
                <th>Translator</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>कसरी भन्ने</td>
                <td>ख्वालासिर भिवा</td>
                <td>gyan.chhantyal</td>
            </tr>
            <tr>
                <td>ठूलो</td>
                <td>ठेवा</td>
                <td>chandra.gharabja</td>
            </tr>
            <tr>
                <td>छोराछोरी</td>
                <td>कोला-च्हामे</td>
                <td>padam.chhantyal.3</td>
            </tr>
            <tr>
                <td>तिम्रो नाम के हो</td>
                <td>कीहये नौ ताने</td>
                <td>chandra.gharabja</td>
            </tr>
             <tr>
                <td>ठाउँ</td>
                <td>क्याला</td>
                <td>mohini.chhantyal1</td>
            </tr>
        </tbody>
    </table>
</div>
