<div>
	<button ng-click="loginToggle()">
        <span ng-if="status">Logout</span>
        <span ng-if="!status">Login with facebook</span>
    </button>
</div>

<div class="twelve columns" ng-show="total.msg.total>0">
	<div class="total">Total: {{total.msg.total}}</div>
		<form class="form-search" name="unicode" ng-submit="translate()">
			<div>
				<span>{{select.nepali}}</span>
				<input type="text" placeholder="type in nepali..." name="nepbox" onkeyup="conversion();" id="kham" required/>
				<button type="submit">Translate</button>
			</div>
		</form>
	<div>
		<p style="font-size:20px; margin:0px">{{msg_fb}} select to translate!</p>
		<ol class="list">
			<li ng-repeat="r in request.msg" ng-click="select(r.nepali)">
				{{r.nepali}}
			</li>
		</ol>
	</div>
</div>

<div ng-show="total.msg.total<1">
	<h5>The requested words will be shown in this page. Currently, no word is requested.</h5>
</div>
